/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


body {
	padding: 0;
	margin: 0;
}

html, body, #mapCanvas {
	height: 100vh;
	width: 100vw;
}

#mapCanvas {
	background-color: grey;
}

#mapCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px; 
	margin-top: -15px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	opacity: 0.2;
	background-color: black;
	z-index: 550;
	pointer-events: none;
}

#mapGrid {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -50px; 
	margin-top: -50px;
	height: 100px;
	width: 100px;
	z-index: 550;
	pointer-events: none;
	
	opacity: 0.7;
	stroke: black;
}

.leaflet-map-pane img.leaflet-tile {
	filter: brightness(60%);
}

.leaflet-control-zoomslider {
	opacity: 0.5;
}

.sidebar-tabs {
	opacity: 0.5;
}

body {	
	font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.lorem {
    font-style: italic;
    color: #AAA;
}


/* Markers */
div.circle {
    background-color: yellow;
   	border-color: black;
    border-radius:50%;
   	border-style: solid;
   	border-width: 1px;
   	opacity: 1;
}

div.circle.hover {
    background-color: #606060;
}

div.circle.selected {
    background-color: #000000;
}

/* Channels */
div.channel.selected {
	background-color: yellow;
}

/* Popups */
.leaflet-popup.tooltip .leaflet-popup-content-wrapper {
	background-color: white;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	background-color: black;
}
.leaflet-popup h4 {
	position: absolute; 
	top; 0px; 
	width: 160px; 
	text-align: center;
	color: white;
	font-size: 1em;
	background-color: rgba(0,0,0,0.5);
}

.leaflet-popup img {
	height: 120px;
	width: 160px; 
	margin-top: 0px;
}


@media (min-width: 992px) {
	.leaflet-popup h4 {
		font-size: 1.4em;
		line-height: 1.4em;
		width: 260px; 
	}
	
	.leaflet-popup img {
		height: 195px;
		width: 260px; 
	}
}
}


